<div class="main-content-container">
  <h2>Please Support project if You like It</h2>

  <div class="support-container">
    <img class="myPhoto mat-elevation-z4" src="assets/img/db_foto.png" alt="Code: Archer - Dawid Budziński">
    <fieldset>
      <legend>Who I am</legend>
      <p>After 13 years in advertising I decided to flip my professional career. I’ve always been interested in new technologies, so I became a web developer with focus on Front-end development.</p>
    </fieldset>
    <div class="other-container">
      <h4>Projects Done</h4>
      <a mat-button href="https://drcrud.com" target="_blank">Dr CRUD</a>
      <a mat-button href="https://rapidapi.com/BD4vid777/api/pro-cycling-stats" target="_blank">PCS API - RapidAPI</a>
      <a mat-button href="#">PCS API Homepage</a>
      <mat-divider style="margin-block: 1.5rem"></mat-divider>
      <h4>Projects ToDo - in Development Phase</h4>
      <button mat-button color="primary">Private Dashboard</button>
      <button mat-button color="primary">Projects Avenger</button>
      <button mat-button color="primary">Home Planner</button>
      <button mat-button color="primary">Konstelacje Store</button>
    </div>
  </div>

  <a href="https://www.buymeacoffee.com/codearcher" class="support-button" mat-raised-button color="primary" target="_blank">
    <mat-icon>card_giftcard</mat-icon>
    <span>Support my work - Buy me a Coffee</span>
  </a>
</div>
