.support-container
  width: 50%
  display: grid
  grid-template-columns: 1fr 1fr
  gap: 1rem
  align-items: center
  justify-items: center
  margin-top: 2rem

  .myPhoto
    height: 200px
    border-radius: 100px

  fieldset
    height: fit-content
    align-self: center

    p
      margin-bottom: 0

  .other-container
    grid-column: span 2
    margin-top: 2rem

.support-button
  margin-top: 3rem
