.team-grid-container
  display: grid
  width: 100%
  height: 100%
  grid-template-columns: repeat(4, 1fr)
  text-align: center
  align-items: center
  justify-items: center
  gap: .5rem
  @media (max-width: 1440px)
    grid-template-columns: repeat(3, 1fr)


.team-flag
  grid-column: 4/5
  grid-row: 1/2
  justify-self: flex-start
  @media (max-width: 1440px)
    grid-column: 3/4

.team-name
  grid-column: 1/4
  grid-row: 1/2
  margin-bottom: 0
  font-size: clamp(1rem, 1.5rem, 1.75rem)
  width: 28ch
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  @media (max-width: 1440px)
    font-size: 1rem
    grid-column: 1/3

.team-shirt
  grid-column: 1/3
  grid-row: 2/6
  transform: scale(1.2)
  @media (max-width: 1440px)
    grid-column: 1/2

.team-social-icons-container
  grid-column: 1/3
  grid-row: 6/7
  @media (max-width: 1440px)
    grid-column: 1/2

.team-social-icons-container svg
  opacity: .7
  transition: opacity 350ms ease-in-out, transform 350ms ease-in-out

  &:hover
    opacity: 1
    transform: scale(1.2)

.team-short
  grid-column: 3/5
  grid-row: 2/3
  margin-bottom: 0
  font-size: 1.15rem
  justify-self: flex-start
  align-self: flex-end
  @media (max-width: 1440px)
    font-size: 1rem
    grid-column: 2/4

.team-bike
  grid-column: 3/5
  grid-row: 3/4
  margin-bottom: 0
  font-size: 1.15rem
  justify-self: flex-start
  align-self: flex-start
  @media (max-width: 1440px)
    font-size: 1rem
    grid-column: 2/4

.team-btn-riders
  grid-column: 3/4
  grid-row: 4/5
  width: 100%
  @media (max-width: 1440px)
    font-size: .7rem
    grid-column: 2/3
    width: 90px

.team-btn-staff
  grid-column: 4/5
  grid-row: 4/5
  width: 100%
  @media (max-width: 1440px)
    font-size: .7rem
    grid-column: 3/4
    width: 90px

.team-btn-lastV
  grid-column: 3/4
  grid-row: 5/6
  width: 100%
  @media (max-width: 1440px)
    font-size: .7rem
    grid-column: 2/3
    width: 90px

.team-btn-topV
  grid-column: 4/5
  grid-row: 5/6
  width: 100%
  @media (max-width: 1440px)
    font-size: .7rem
    grid-column: 3/4
    width: 90px

