.github-container,
.techstack-container,
.endpoints-container
  width: fit-content
  min-width: 800px
  margin-top: 1.5rem
  text-align: center

  h2
    margin-bottom: .5rem

.endpoint
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-top: 1rem

  img
    margin-right: .5rem

.github-badges
  margin-top: 1.5rem
  display: flex
  justify-content: space-evenly
  gap: .5rem

.tech-cards
  margin-top: 1.5rem

