<div class="overview-start">
    <h1>Cycling API</h1>
    <h3>Free API serving selected data from Pro Cycling Stats</h3>

    <mat-card class="endpoints-container">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Endpoint #1">
          <div class="endpoint">
            <img src="assets/img/Endpoint_1.png" alt="Endpoint /teams">
            <button mat-raised-button matTooltip="ENDPOINT => /teams" matTooltipPosition="above" color="primary" (click)="openDialog('/teams')">
              <span class="material-icons">pageview</span>
              Preview
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Endpoint #2">
          <div class="endpoint">
            <img src="assets/img/Endpoint_2.png" alt="Endpoint /teams/:team">
            <button mat-raised-button matTooltip="ENDPOINT => /teams/:team" matTooltipPosition="above" color="primary" (click)="openDialog('/teams/ineos-grenadiers-2021')">
              <span class="material-icons">pageview</span>
              Preview
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Endpoint #3">
          <div class="endpoint">
            <img src="assets/img/Endpoint_3.png" alt="Endpoint /riders">
            <button mat-raised-button matTooltip="ENDPOINT => /riders" matTooltipPosition="above" color="primary" (click)="openDialog('/riders')">
              <span class="material-icons">pageview</span>
              Preview
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Endpoint #4">
          <div class="endpoint">
            <img src="assets/img/Endpoint_4.png" alt="Endpoint /riders/:name">
            <button mat-raised-button matTooltip="ENDPOINT => /riders/:name" matTooltipPosition="above" color="primary" (click)="openDialog('/riders/tadej-pogacar')">
              <span class="material-icons">pageview</span>
              Preview
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
    <mat-card class="techstack-container">
      <h2>Techstack</h2>
      <mat-divider></mat-divider>
      <div class="tech-cards">
        <mat-chip-list aria-label="Techstack">
          <mat-chip>Express.js</mat-chip>
          <mat-chip>Axios</mat-chip>
          <mat-chip>Cheerio.js</mat-chip>
          <mat-chip>RapidAPI</mat-chip>
          <mat-chip>Heroku</mat-chip>
          <mat-chip>Netlify</mat-chip>
          <mat-chip>Angular</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card>
    <mat-card class="github-container">
      <h2>Github Bagdes</h2>
      <mat-divider></mat-divider>
      <div class="github-badges">
        <img src="https://img.shields.io/github/languages/top/BD4vid777/Cycling_API" alt="Top language - Javascript 100%">
        <img src="https://img.shields.io/github/languages/code-size/BD4vid777/Cycling_API" alt="Code size in bytes - 13.8 kB ">
        <img src="https://img.shields.io/github/package-json/v/BD4vid777/Cycling_API" alt="Package.json version - v1.0.0">
        <img src="https://img.shields.io/website?label=Published%20at&up_message=RapidAPI&url=https%3A%2F%2Frapidapi.com%2FBD4vid777%2Fapi%2Fpro-cycling-stats%2F" alt="Published at Rapid API">
        <img src="https://img.shields.io/endpoint?url=https%3A%2F%2Fpro-cycling-stats-api.herokuapp.com%2FshieldsIO_Badge" alt="Test Endpoint">
      </div>
    </mat-card>
  </div>

