h3
  margin-bottom: 0

.github-container,
.techstack-container,
.endpoints-container
  width: fit-content
  min-width: 800px
  margin-top: 1rem
  text-align: center
  @media (max-width: 1024px)
    width: 100%
    min-width: unset
    margin-top: .5rem
    padding: .5rem

  h2
    margin-bottom: .5rem

.endpoint
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-top: 1rem
  @media (max-width: 1024px)
    flex-direction: column
    gap: .5rem
    align-items: flex-start

  img
    margin-right: .5rem

.github-badges
  margin-top: 1.5rem
  display: flex
  justify-content: space-evenly
  gap: .5rem
  width: 100%
  @media (max-width: 1024px)
    flex-wrap: wrap
    justify-content: center

.tech-cards
  margin-top: 1.5rem

